.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  justify-content: center;

  width:90%;
  height: 80vh;
  margin-top: 2rem;
}

.main .card-container {
  display: flex;
  flex-direction: column;

}

.main .card-container button {
  border-radius: .5rem;
  border: .02px solid rgb(165, 153, 153);
  
}